{% extends 'layouts/base.html' %}

{% block content %}
<style>
.text-color {
  color: white;
}
.bg-color {
  background-color: #3f4d67
}
h5, p {
  color: white;
}
</style>
<div>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
          {{ message }}
        </div>
        {% endfor %}
    {% endif %}
  {% endwith %}
  </div>
<div class="container">
  <div class="jumbotron text-center bg-color m-3">
    <div class="row justify-content-center">
        <div class="card border border-info rounded " style="width: 18rem;">
          <div class="bg-info">
            <img class="img-thumbnail m-2" alt="profile_pic" src="{{ profile_picture }}" style="width: 50%; height: auto;">
            <h4 class="text-color">{{ current_user.first_name }} {{ current_user.last_name }}</h4>
          </div>
          <hr class="my-1">
          <div class="card-body bg-color">
            <h5 class="">Email:  {{ current_user.email }}</h5>
            <h5 class="">Phone:  {{ current_user.phone_number }}</h5>
            <p class="card-text"></p>
          </div>
        </div>
    </div>
    <!--    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>-->

    <!-- [ rating list ] end-->
      <div class="col-xl-12 col-md-12 m-b-30">
        <form class="form-group text-color" method="post" action="" enctype="multipart/form-data">
          {{ form.csrf_token }}
          {{ form.hidden_tag() }}
          <div class="container" >
            <div class="row justify-content-center mt-3">
              <div class="col col-sm-8 col-md-6 col-lg-4">
                {{ form.username.label }}
                {% if form.username.errors %}
                    {{ form.username(class="form-control form-control-lg is-invalid") }}
                  <div class="invalid-feedback">
                      {% for error in form.username.errors %}
                          <span>{{ error }}</span>
                      {% endfor %}
                  </div>
                {% else %}
                    {{ form.username(class="form-control") }}
                {% endif%}
              </div>
              <div class="col col-sm-8 col-md-6 col-lg-4">
                {{ form.email.label }}
                {% if form.email.errors %}
                  {{ form.email(class="form-control form-control-lg is-invalid") }}
                  <div class="invalid-feedback">
                      {% for error in form.email.errors %}
                          <span>{{ error }}</span>
                      {% endfor %}
                  </div>
                {% else %}
                    {{ form.email(class="input form-control") }}
                {% endif%}
              </div>
            </div>
            <br>
            <hr>
            <h5>Enter your new password here</h5>
            <div class="row justify-content-center mt-3">
              <div class="col col-sm-8 col-md-6 col-lg-4">
                {{ form.password.label }}
                {% if form.password.errors %}
                  {{ form.password(class="form-control form-control-lg is-invalid") }}
                  <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                      <span>{{ error}} </span>
                    {% endfor %}
                  </div>
                {% else %}
                  {{ form.password(class="form-control form-control-lg") }}
                {% endif %}
              </div>
              <div class="col col-sm-8 col-md-6 col-lg-4">
                {{ form.confirm_password.label }}
                {% if form.confirm_password.errors %}
                  {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
                  <div class="invalid-feedback">
                    {% for error in form.confirm_password.errors %}
                      <span>{{ error}} </span>
                    {% endfor %}
                  </div>
                {% else %}
                  {{ form.confirm_password(class="form-control form-control-lg") }}
                {% endif %}
              </div>
            </div>
            <div class="row justify-content-center mt-3">
              <div class="col col-sm-8 col-md-6 col-lg-4">
                {{ form.picture.label }}
                {{ form.picture(class="form-control") }}
              </div>
            </div>
          </div>
          <br>
          <hr>
          <div class="text-color">
            <h3 class="text-color">Personal Details</h3>
            <p class="mb-4">You can update your personal details below.</p>
          </div>
          <div class="row justify-content-center">
            <hr>
            <div class="col-sm-6 col-lg-4 mb-2">
              {{ form.first_name.label }}
              {% if form.first_name.errors %}
                {{ form.first_name(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.first_name.errors %}
                    <span>{{ error}} </span>
                  {% endfor %}
                </div>
              {% else %}
                {{ form.first_name(class="form-control form-control-lg") }}
              {% endif %}
            </div>
            <div class="col-sm-6 col-lg-4 mb-2">
              {{ form.last_name.label }}
                {% if form.last_name.errors %}
                  {{ form.last_name(class="form-control form-control form-control-lg is-invalid") }}
                  <div class="invalid-feedback">
                    {% for error in form.last_name.errors %}
                      <span>{{ error}} </span>
                    {% endfor %}
                  </div>
                {% else %}
                  {{ form.last_name(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="col-sm-6 col-lg-4 mb-2">
              {{ form.other_name.label }}
              {% if form.other_name.errors %}
                {{ form.other_name(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.other_name.errors %}
                    <span>{{ error}} </span>
                  {% endfor %}
                </div>
              {% else %}
                {{ form.other_name(class="form-control form-control-lg") }}
              {% endif %}
            </div>
            <div class="col-sm-6 col-lg-4 mb-2">
              {{ form.gender.label }}
              {% if form.gender.errors %}
                {{ form.gender(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.gender.errors %}
                    <span>{{ error}} </span>
                  {% endfor %}
                </div>
              {% else %}
                {{ form.gender(class="form-control form-control-lg") }}
              {% endif %}
            </div>
            <div class="col-sm-6 col-lg-4 mb-2">
              {{ form.phone_number.label }}
              {% if form.phone_number.errors %}
                {{ form.phone_number(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.phone_number.errors %}
                    <span>{{ error}} </span>
                  {% endfor %}
                </div>
              {% else %}
                {{ form.phone_number(class="form-control form-control-lg") }}
              {% endif %}
            </div>
          </div>
          <br>
          <h5>Address</h5>
          <hr>
          <div class="row justify-content-center">
            <div class="col-sm-6 col-lg-4 mb-2">
              {{ form.address_1.label }}
              {% if form.address_1.errors %}
                {{ form.address_1(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.address_1.errors %}
                    <span>{{ error}} </span>
                  {% endfor %}
                </div>
              {% else %}
                {{ form.address_1(class="form-control form-control-lg") }}
              {% endif %}
            </div>
            <div class="col-sm-6 col-lg-4 mb-2">
              {{ form.address_2.label }}
              {% if form.address_2.errors %}
                {{ form.address_2(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.address_2.errors %}
                    <span>{{ error}} </span>
                  {% endfor %}
                </div>
              {% else %}
                {{ form.address_2(class="form-control form-control-lg") }}
              {% endif %}
            </div>
            <div class="col-sm-6 col-lg-4 mb-2">
              {{ form.city.label }}
              {% if form.city.errors %}
                {{ form.city(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.city.errors %}
                    <span>{{ error}} </span>
                  {% endfor %}
                </div>
              {% else %}
                {{ form.city(class="form-control form-control-lg") }}
              {% endif %}
            </div>
            <div class="col-sm-6 col-lg-4 mb-2">
              {{ form.state.label }}
              {% if form.state.errors %}
                {{ form.state(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.state.errors %}
                    <span>{{ error}} </span>
                  {% endfor %}
                </div>
              {% else %}
                {{ form.state(class="form-control form-control-lg") }}
              {% endif %}
            </div>
            <div class="col-sm-6 col-lg-4 mb-2">
              {{ form.postal_code.label }}
              {% if form.postal_code.errors %}
                {{ form.postal_code(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.postal_code.errors %}
                    <span>{{ error}} </span>
                  {% endfor %}
                </div>
              {% else %}
                {{ form.postal_code(class="form-control form-control-lg") }}
              {% endif %}
            </div>
          </div>
          <div class="form-group">
              {{ form.submit(class="btn btn-primary btn-square") }}
          </div>
        </form>
    </div>
  </div>
</div>
{% endblock %}
