{% extends "layouts/base.html" %}

{% block title %} {{ title }}{% endblock %}

{% block content%}
<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="text-center">Create Property Page</h4>
                                <hr>
                                <div class="row">
                                    <div class="col-md-6">
                                        <form class='form-group' method="POST" enctype="multipart/form-data">
                                            <div>{{ form.csrf_token }}</div>
                                            <div class="form-group">

                                                {{ form.prop_name.label }}

                                                {% if form.prop_name.errors %}
                                                    {{ form.prop_name(class="form-control form-control-lg is-invalid") }}
                                                    <div class="invalid-feedback">
                                                        {% for error in form.prop_name.errors %}
                                                            <span>{{ error }}</span>
                                                        {% endfor %}
                                                    </div>
                                                {% else %}
                                                    {{ form.prop_name(class="form-control") }}
                                                {% endif%}
                                            </div>
                                            <div class="form-group">
                                                {{ form.prop_desc.label }}

                                                {% if form.prop_desc.errors %}
                                                    {{ form.prop_desc(class="form-control form-control-lg is-invalid") }}
                                                    <div class="invalid-feedback">
                                                        {% for error in form.prop_desc.errors %}
                                                            <span>{{ error }}</span>
                                                        {% endfor %}
                                                    </div>
                                                {% else %}
                                                    {{ form.prop_desc(class="form-control") }}
                                                {% endif%}

                                            </div>
                                            <div class="form-group">
                                                {{ form.prop_type.label }}

                                                {% if form.prop_type.errors %}
                                                    {{ form.prop_type(class="form-control form-control-lg is-invalid") }}
                                                    <div class="invalid-feedback">
                                                        {% for error in form.prop_type.errors %}
                                                            <span>{{ error }}</span>
                                                        {% endfor %}
                                                    </div>
                                                {% else %}
                                                    {{ form.prop_type(class="form-control") }}
                                                {% endif%}

                                            </div>
                                            <div class="form-group">
                                                {{ form.prop_condition.label }}

                                                {% if form.prop_condition.errors %}
                                                    {{ form.prop_condition(class="form-control form-control-lg is-invalid") }}
                                                    <div class="invalid-feedback">
                                                        {% for error in form.prop_condition.errors %}
                                                            <span>{{ error }}</span>
                                                        {% endfor %}
                                                    </div>
                                                {% else %}
                                                    {{ form.prop_condition(class="form-control") }}
                                                {% endif%}

                                            </div>
                                            <div class="form-group">
                                                {{ form.prop_photos.label }}

                                                {% if form.prop_photos.errors %}
                                                    {{ form.prop_photos(class="form-control form-control-lg is-invalid") }}
                                                    <div class="invalid-feedback">
                                                        {% for error in form.prop_photos.errors %}
                                                            <span>{{ error }}</span>
                                                        {% endfor %}
                                                    </div>
                                                {% else %}
                                                    {{ form.prop_photos(class="form-control") }}
                                                {% endif%}
                                            </div>
                                            <div class="form-group">
                                                {{ form.prop_price.label }}

                                                {% if form.prop_price.errors %}
                                                    {{ form.prop_price(class="form-control form-control-lg is-invalid") }}
                                                    <div class="invalid-feedback">
                                                        {% for error in form.prop_price.errors %}
                                                            <span>{{ error }}</span>
                                                        {% endfor %}
                                                    </div>
                                                {% else %}
                                                    {{ form.prop_price(class="form-control") }}
                                                {% endif%}
                                            </div>
                                            <div class="form-group">
                                                {{ form.prop_location.label }}

                                                {% if form.prop_location.errors %}
                                                    {{ form.prop_location(class="form-control form-control-lg is-invalid") }}
                                                    <div class="invalid-feedback">
                                                        {% for error in form.prop_location.errors %}
                                                            <span>{{ error }}</span>
                                                        {% endfor %}
                                                    </div>
                                                {% else %}
                                                    {{ form.prop_location(class="form-control") }}
                                                {% endif%}
                                            </div>
                                            <div align="center" class="form-group">
                                                {{ form.submit(class="btn btn-primary") }}
                                            </div>
                                        </form>
                                    </div>
                                    <div style="border-left: solid 10px; height: 570px; color:#E7E6E1"></div>
                                    <div class="col-md-5">
                                        <h3 class="text-center font-weight-bold">Upload CSV</h3>
                                        <br>
                                        <h5>This is just sample text</h5>
                                        <ul class="list-group">
                                          <li class="list-group-item">This is just sample text</li>
                                          <li class="list-group-item">Dapibus ac facilisis in</li>
                                          <li class="list-group-item">Morbi leo risus</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
