{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->

            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <h2 class="text-center">Properties on sale and rent</h2>
                    <br>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-block">
                                    <div class="row justify-content-center">
                                        <div class="col-sm-6">
                                            <input type="text" id="icon-search" class="form-control mb-4" placeholder="search for a property of choice . . ">
                                        </div>
                                    </div>
                                    <div class="i-main" id="icon-wrapper"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#all-properties" role="tab" aria-controls="pills-home" aria-selected="true">All Deals</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#daily-properties" role="tab" aria-controls="pills-profile" aria-selected="false">Today's</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#weekly-properties" role="tab" aria-controls="pills-contact" aria-selected="false">Weekly</a>
                        </li>
                    </ul>

                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="all-properties" role="tabpanel" aria-labelledby="pills-home-tab">
                            <h4 class="mb-0">Showing all property listings</h4>
                            {% include 'includes/property_listing_all.html' %}
                        </div>
                        <div class="tab-pane fade" id="daily-properties" role="tabpanel" aria-labelledby="pills-profile-tab">
                            <h4 class="mb-0">Listings in 24 hours</h4>
                            {% include 'includes/property_listing_daily.html' %}

                        </div>
                        <div class="tab-pane fade" id="weekly-properties" role="tabpanel" aria-labelledby="pills-contact-tab">
                            <h4 class="mb-0">Listings of the week</h4>
                            {% include 'includes/property_listing_weekly.html' %}
                        </div>
                    </div>
                  </div>
                  
                    </div>
                    <!-- [ Main Content ] end -->
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}