{% extends 'layouts/base.html' %}
{% block scripts %}
    <script src="{{url_for('static', filename='assets/js/tab_gallery.js')}}"></script>
{% endblock %}
<!-- Specific CSS goes HERE -->
{% block stylesheets %}
    <link rel="stylesheet" href="{{url_for('static', filename='assets/dist/css/lightbox.min.css')}}">
{% endblock stylesheets %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-8">
      <div class="card m-3">
        <div class="card-body text-left">
          <h3 class="text-left font-weight-bold">{{ prop_data.name }}</h3>
          <hr>
          {% if prop_data.user_id == current_user.id %}
            <a  class="btn btn-secondary" href="{{ url_for('home_blueprint.update_property', property_id=prop_data.id) }}">Update Property</a>
            <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete Property</button>
          {% endif %}
        </div>
        <br>

        <div class="row" id="gallery">
           {% for photo in photos_list[1:] %}
            <div class="col-3 col-sm-3" style="width: 50%;">
              <a class="example-image-link" href="{{ url_for('static', filename='/'+ prop_data.image_folder+ '/'+ photo) }}" data-lightbox="example-set">
                <img class="card-img-top example-image mb-1 ml-0"
                     src="{{ url_for('static', filename='/'+ prop_data.image_folder+ '/'+ photo) }}"
                     alt="Card image cap">
              </a>
            </div>
           {% endfor %}
          </div>
        </div>
    </div>

  <!--Property Details-->
    <div class="col mt-3">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Posted by:  {{prop_data.prop_owner.username}}</h5>
          <p class="card-text">{{prop_data.desc}}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">K{{prop_data.price}}</li>
          <li class="list-group-item">{{prop_data.location}}</li>
          <li class="list-group-item">Date Posted - {{ prop_data.date.strftime("%m/%d/%Y") }} at {{ prop_data.date.strftime("%H:%M:%S") }}</li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link btn btn-primary"><h5 class="text-light font-weight-bold">Contact Seller</h5></a>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Delete Property?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete your this property listing?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel </button>
        <form action="{{ url_for('home_blueprint.delete_property', property_id=prop_data.id) }}" method="post">
          <input class="btn btn-danger" type="submit" value="Delete">
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block javascripts %}
  <script src="{{url_for('static', filename='assets/dist/js/lightbox-plus-jquery.min.js')}}"></script>
{% endblock javascripts %}