<div class="row">
  <div class="col-sm-12">
      <div class="card">
          <div class="card-block">
              <div class="row justify-content-center">
                  {% if g.search_form %}
                      <form action="{{ url_for('home_blueprint.search') }}" class="col-sm-6" method="get">
                          {{ g.search_form.hidden_tag() }}
                          {{ g.search_form.q(class="form-control", placeholder="search for a property of choice . . ") }}
                      </form>
                  {% endif %}
              </div>
              <div class="i-main" id="icon-wrapper"></div>
          </div>
      </div>
  </div>
</div>