
    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <div class="main-body">
                <div class="col-sm-12">

                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="row">
                        <!-- [ Breadcrumbs & Pagination ] start -->
                        
                      {% for property in properties.items %}
                        {% if today.strftime("%m/%d/%Y") == property.date.strftime("%m/%d/%Y") %}
                        <div class="container-fluid">
                          <div class="card shadow p-1 mb-1 bg-white rounded border" style="max-width: 650px;">
                            <div class="row">
                              <div class="col-md-4">
                              {% for photo_list in photos_list %}
                                  {% if photo_list[0] == property.image_folder %}
                                  <a class="example-image-link m-1" href="{{url_for('static', filename=property.image_folder+ '/' + photo_list[1])}}" data-lightbox="example-2" data-title="Optional caption.">
                                    <img class="example-image img-thumbnail" src="{{url_for('static', filename=property.image_folder+ '/' + photo_list[1])}}" alt="image-1"/>
                                  </a>
                                  {% endif %}
                              {% endfor %}
                              </div>
                              <div class="col-md-8">
                                <div class="card-body p-0">
                                  <div class="container">
                                    <div class="row">
                                      <div class="col-sm-8 px-0 m-1">
                                        <a href="{{url_for('home_blueprint.details', property_id=property.id)}}">
                                          <h4 class="card-title font-weight-bold text-primary">{{property.name}}</h4>
                                        </a>
                                      </div>
                                      {% if current_user.is_authenticated %}
                                      <div class="col-sm-3 px-0 ml-4 mt-1">
                                          <button class="btn btn-info btn-sm dropdown-toggle p-1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Actions</button>
                                          <div class="dropdown-menu">
                                              <a class="dropdown-item" href="#!">Update</a>
                                              <a class="dropdown-item" href="#!">Delete</a>
                                          </div>
                                      </div>
                                      {% else %}
                                      <div class="col-sm-3 px-0 ml-2 mt-1">
                                        <button type="button" class="btn btn-square btn-info btn-sm p-1">Contact Owner</button>
                                      </div>
                                      {% endif %}
                                    </div>
                                  </div>
                                  <p class="card-text">{{property.desc[:45]}} ... </p>
                                  <p class="card-text"><small class="font-weight-bold">K{{property.price}} | Location: {{property.location}} | Date posted: {{ property.date.strftime("%m/%d/%Y") }}</small></p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        {% endif %}
                      {% endfor %}
                    
                        </div>
                    </div>
                    <div class="container m-4">
                      {% for page_num in properties.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=5) %}
                        {% if page_num %}
                            {% if properties.page == page_num %}
                              <a class="btn btn-outline-info mb-4 disabled" href="{{ url_for('home_blueprint.index', page=page_num) }}">{{ page_num }}</a>
                            {% else %}
                              <a class="btn btn-info mb-4 " href="{{ url_for('home_blueprint.index', page=page_num) }}">{{ page_num }}</a>
                            {% endif %}
                        {% else %}
                        {% endif %}
                      {% endfor %}
                    </div>
                    <!-- [ Main Content ] end -->
                </div>
            </div>
        </div>
    </div>

