{% extends "layouts/base.html" %}

{% block title %} Settings {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
      {% for category, message in messages %}
      <div class="alert alert-{{ category }}">
          <p class="text-center">{{ message }}</p>
      </div>
      {% endfor %}
  {% endif %}
{% endwith %}

  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
      <div>
          <button class="btn btn-secondary text-dark me-2 dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="fas fa-plus me-2"></span>New
          </button>
          <div class="dropdown-menu dashboard-dropdown dropdown-menu-start mt-2 py-0">
              <a class="dropdown-item fw-normal rounded-top" href="#"><span class="far fa-file-alt me-2"></span>Document</a>
              <a class="dropdown-item fw-normal" href="#"><span class="far fa-comment-dots me-2"></span>Message</a>
              <a class="dropdown-item fw-normal" href="#"><span class="fas fa-box-open me-2"></span>Product</a>
              <div role="separator" class="dropdown-divider my-0"></div>
              <a class="dropdown-item fw-normal rounded-bottom" href="#"><span class="fas fa-rocket text-danger me-2"></span>My Plan</a>
          </div>
      </div>
      <div>
          <button type="button" class="btn btn-dark me-2"><span class="fas fa-calendar-alt"></span></button>
          <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="fas fa-clipboard me-2"></span>Reports
              <span class="icon icon-small ms-1"><span class="fas fa-chevron-down"></span></span>
          </button>
          <div class="dropdown-menu dashboard-dropdown dropdown-menu-start mt-2 py-0">
              <a class="dropdown-item fw-normal rounded-top" href="#"><span class="fas fa-box-open"></span>Products</a>
              <a class="dropdown-item fw-normal" href="#"><span class="fas fa-store"></span>Customers</a>
              <a class="dropdown-item fw-normal" href="#"><span class="fas fa-cart-arrow-down"></span>Orders</a>
              <a class="dropdown-item fw-normal" href="#"><span class="fas fa-chart-pie"></span>Console</a>
              <div role="separator" class="dropdown-divider my-0"></div>
              <a class="dropdown-item fw-normal rounded-bottom" href="#"><span class="fas fa-rocket text-success"></span>All Reports</a>
          </div>
      </div>
  </div>
  <div class="row">
      <div class="col-12 col-xl-4">
          <div class="row">
              <div class="col-12 mb-4">
                  <div class="card shadow-sm text-center p-0">
                      {% if current_user.cover_photo_loc == 'app_server_storage' %}
                        <div class="profile-cover rounded-top" data-background="{{ url_for('static', filename=cover_image_dir + current_user.cover_photo) }}"></div>
                      {% elif current_user.cover_photo_loc == 'amazon_s3' %}
                        <div class="profile-cover rounded-top" data-background="{{ s3_image_url + '/' + cover_image_dir + current_user.cover_photo }}"></div>
                      {% else %}
                        <div class="profile-cover rounded-top" data-background="{{ url_for('static', filename=current_user.cover_photo) }}"></div>
                      {% endif %}

                      <div class="card-body pb-5">
                          {% if current_user.prof_photo_loc == 'app_server_storage' %}
                            <img src="{{ url_for('static', filename=profile_image_dir + current_user.profile_photo) }}" class="user-avatar large-avatar rounded-circle mx-auto mt-n7 mb-4" alt="Neil Portrait">
                          {% elif current_user.prof_photo_loc == 'amazon_s3' %}
                            <img src="{{ s3_image_url + '/' + profile_image_dir + current_user.profile_photo }}" class="user-avatar large-avatar rounded-circle mx-auto mt-n7 mb-4" alt="Neil Portrait">
                          {% else %}
                            <img src="{{ url_for('static', filename=current_user.profile_photo) }}" class="user-avatar large-avatar rounded-circle mx-auto mt-n7 mb-4" alt="Neil Portrait">
                          {% endif %}
                          <h4 class="h3">
                            {{ current_user.username }}
                          </h4>
                          <h5 class="fw-normal">
                            {{ current_user.email }}
                          </h5>
                          <p class="text-gray mb-4">New York, USA</p>
                          <a class="btn btn-sm btn-dark me-2" href="#"><span class="fas fa-user-plus me-1"></span> Connect</a>
                          <a class="btn btn-sm btn-secondary" href="#">Send Message</a>
                      </div>
                    </div>
              </div>
              <div class="card card-body shadow-sm mb-4 mb-lg-0">
              <h2 class="h5 mb-4">Alerts & Notifications</h2>
              <ul class="list-group list-group-flush">
                  <li class="list-group-item d-flex align-items-center justify-content-between px-0 border-bottom">
                      <div>
                          <h3 class="h6 mb-1">Company News</h3>
                          <p class="small pe-4">Get Rocket news, announcements, and product updates</p>
                      </div>
                      <div>
                          <div class="form-check form-switch">
                              <input class="form-check-input" type="checkbox" id="user-notification-1">
                              <label class="form-check-label" for="user-notification-1"></label>
                          </div>
                      </div>
                  </li>
                  <li class="list-group-item d-flex align-items-center justify-content-between px-0 border-bottom">
                      <div>
                          <h3 class="h6 mb-1">Account Activity</h3>
                          <p class="small pe-4">Get important notifications about you or activity you've missed</p>
                      </div>
                      <div>
                          <div class="form-check form-switch">
                              <input class="form-check-input" type="checkbox" id="user-notification-2" checked>
                              <label class="form-check-label" for="user-notification-2"></label>
                          </div>
                      </div>
                  </li>
                  <li class="list-group-item d-flex align-items-center justify-content-between px-0">
                      <div>
                          <h3 class="h6 mb-1">Meetups Near You</h3>
                          <p class="small pe-4">Get an email when a Dribbble Meetup is posted close to my location</p>
                      </div>
                      <div>
                          <div class="form-check form-switch">
                              <input class="form-check-input" type="checkbox" id="user-notification-3" checked>
                              <label class="form-check-label" for="user-notification-3"></label>
                          </div>
                      </div>
                  </li>
              </ul>
          </div>
          </div>
      </div>
      <br>
      <div class="col-12 col-xl-8">
          <div class="card card-body shadow-sm mb-4">
              <form method="post" enctype="multipart/form-data">
                  {{ form.hidden_tag() }}
                <!--   Photo upload fields-->
                  <div class="row">
                      <div class="col-12">
                          <div class="card card-body shadow-sm mb-4">
                              <h2 class="h5 mb-4">Select profile photo</h2>
                              <div class="d-flex align-items-center">
                                  <div class="me-3">
                                      <!-- Avatar -->
                                      <div class="user-avatar xl-avatar">
                                          <img class="rounded" src="/static/assets/img/team/profile-picture-3.jpg" alt="change avatar">
                                      </div>
                                  </div>
                                  <div class="file-field">
                                      <div class="d-flex justify-content-xl-center ms-xl-3">
                                          <div class="d-flex">
                                              <span class="icon icon-md"><span class="fas fa-paperclip me-3"></span></span>{{ form.profile_photo }}
                                              <div class="d-md-block text-left">
                                                  <div class="fw-normal text-dark mb-1 profile-photo-label">Choose Image</div>
                                                  <div class="text-gray small">JPG, JPEG or PNG. Max size of 2MB</div>
                                              </div>
                                              <script type="text/javascript">
                                                $('#profile_photo').change(function(e){
                                                    var fileName = e.target.files[0].name;
                                                $('.profile-photo-label').html(fileName);
                                                });
                                              </script>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-12 col-xl-12">
                          <div class="card card-body shadow-sm mb-4">
                              <h2 class="h5 mb-4">Select cover photo</h2>
                              <div class="d-flex align-items-center">
                                  <div class="me-3">
                                      <!-- Avatar -->
                                      <div class="user-avatar xl-avatar">
                                          <img class="rounded" src="/static/assets/img/profile-cover.jpg" alt="change cover photo">
                                      </div>
                                  </div>
                                  <div class="file-field">
                                      <div class="d-flex justify-content-xl-center ms-xl-3">
                                          <div class="d-flex">
                                              <span class="icon icon-md"><span class="fas fa-paperclip me-3"></span></span>{{ form.cover_photo }}
                                              <div class="d-md-block text-left">
                                                  <div class="fw-normal text-dark mb-1 cover-photo-label">Choose Image</div>
                                                  <div class="text-gray small">JPG, JPEG or PNG. Max size of 2MB</div>
                                              </div>
                                              <script type="text/javascript">
                                                $('#cover_photo').change(function(e){
                                                    var fileName = e.target.files[0].name;
                                                $('.cover-photo-label').html(fileName);
                                                });
                                                </script>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                <!--  End of photo upload fields-->
                  <h2 class="h5 mb-4">General information</h2>
                  <div class="row">
                      <div class="col-md-6 mb-3">
                          <div>
                              {{ form.first_name.label }}
                              {% if form.first_name.errors %}
                              {{ form.first_name(class="form-control is-invalid") }}
                              {% for error in form.first_name.errors %}
                              <small class="text-danger">{{ error }}</small>
                              {% endfor %}
                              {% else %}
                              {{ form.first_name(class="form-control", placeholder="Enter your first name") }}
                              {% endif%}
                          </div>
                      </div>
                      <div class="col-md-6 mb-3">
                          <div>
                              {{ form.last_name.label }}
                              {% if form.last_name.errors %}
                              {{ form.last_name(class="form-control is-invalid") }}
                              {% for error in form.last_name.errors %}
                              <small class="text-danger">{{ error }}</small>
                              {% endfor %}
                              {% else %}
                              {{ form.last_name(class="form-control", placeholder="Enter your last name") }}
                              {% endif %}
                          </div>
                      </div>
                      <div class="col-md-6 mb-3">
                          <div>
                              {{ form.other_name.label }}
                              {% if form.other_name.errors %}
                                  {{ form.other_name(class="form-control is-invalid") }}
                                  {% for error in form.other_name.errors %}
                                  <small class="text-danger">{{ error }}</small>
                                  {% endfor %}
                              {% else %}
                                  {{ form.other_name(class="form-control", placeholder="Enter your other name. Leave Blank if you don't have one.") }}
                              {% endif%}
                          </div>
                      </div>
                  </div>
                  <div class="row align-items-center">
                      <div class="col-md-6 mb-3">
                            {{ form.birth_date.label }}
                            <div class="input-group">
                                <span class="input-group-text"><span class="far fa-calendar-alt"></span></span>
                                {% if form.birth_date.errors %}
                                    {{ form.birth_date(class="form-control is-invalid") }}
                                    {% for error in form.birth_date.errors %}
                                        <small class="text-danger">{{ error }}</small>
                                    {% endfor %}
                                {% else %}
                                    {{ form.birth_date(class="form-control", placeholder="DD/MM/YYYY") }}
                                {% endif%}
                            </div>
                        </div>
                      <div class="col-md-6 mb-3">
                          {{ form.gender.label }}
                          {% if form.gender.errors %}
                          {{ form.gender(class="form-control is-invalid") }}
                          {% for error in form.gender.errors %}
                          <small class="text-danger">{{ error }}</small>
                          {% endfor %}
                          {% else %}
                          {{ form.gender(class="form-control", placeholder="Gender") }}
                          {% endif%}
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-6 mb-3">
                          <div class="form-group">
                              {{ form.phone.label }}
                              {% if form.phone.errors %}
                              {{ form.phone(class="form-control is-invalid") }}
                              {% for error in form.phone.errors %}
                              <small class="text-danger">{{ error }}</small>
                              {% endfor %}
                              {% else %}
                              {{ form.phone(class="form-control", placeholder="XXX XXX XXXX") }}
                              {% endif%}
                          </div>
                      </div>
                  </div>
                  <h2 class="h5 my-4">Location</h2>
                  <div class="row">
                      <div class="col-sm-9 mb-3">
                            <div class="form-group">
                                {{ form.address_1.label }}
                                {% if form.address_1.errors %}
                                    {{ form.address_1(class="form-control is-invalid") }}
                                    {% for error in form.address_1.errors %}
                                        <small class="text-danger">{{ error }}</small>
                                    {% endfor %}
                                {% else %}
                                    {{ form.address_1(class="form-control", placeholder="Address line 1") }}
                                {% endif%}
                            </div>
                        </div>
                      <div class="col-sm-9 mb-3">
                          <div class="form-group">
                              {{ form.address_2.label }}
                              {% if form.address_2.errors %}
                              {{ form.address_2(class="form-control is-invalid") }}
                              {% for error in form.address_2.errors %}
                              <small class="text-danger">{{ error }}</small>
                              {% endfor %}
                              {% else %}
                              {{ form.address_2(class="form-control", placeholder="Address line 2") }}
                              {% endif %}
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-sm-4 mb-3">
                        <div class="form-group">
                            {{ form.city.label }}
                            {% if form.city.errors %}
                                    {{ form.city(class="form-control is-invalid") }}
                                {% for error in form.city.errors %}
                                    <small class="text-danger">{{ error }}</small>
                                {% endfor %}
                            {% else %}
                                {{ form.city(class="form-control", placeholder="City") }}
                            {% endif%}
                        </div>
                    </div>
                      <div class="col-sm-4">
                          <div class="form-group">
                              {{ form.postal_code.label }}
                              {% if form.postal_code.errors %}
                              {{ form.postal_code(class="form-control is-invalid") }}
                              {% for error in form.postal_code.errors %}
                              <small class="text-danger">{{ error }}</small>
                              {% endfor %}
                              {% else %}
                              {{ form.postal_code(class="form-control", placeholder="Postal Code") }}
                              {% endif%}
                          </div>
                      </div>
                  </div>
                  <hr>
                  <h2 class="h5 my-4">Sign Credentials</h2>
                  <div class="form-group mb-4">
                      {{ form.username.label }}
                      <div class="input-group">
                          <span class="input-group-text"><span class="fas fa-user-shield"></span></span>
                          {% if form.username.errors %}
                          {{ form.username(class="form-control is-invalid") }}
                          {% for error in form.username.errors %}
                          <small class="text-danger">{{ error }}</small>
                          {% endfor %}
                          {% else %}
                          {{ form.username(class="form-control", placeholder="Enter your username") }}
                          {% endif%}
                      </div>
                  </div>

                  <!-- Form -->
                  <div class="form-group mb-4">
                      {{ form.email.label }}
                      <div class="input-group">
                          <span class="input-group-text"><span class="fas fa-envelope"></span></span>
                          {% if form.email.errors %}
                          {{ form.email(class="form-control is-invalid") }}
                          {% for error in form.email.errors %}
                          <small class="text-danger">{{ error }}</small>
                          {% endfor %}
                          {% else %}
                          {{ form.email(class="form-control", placeholder="Enter your email address") }}
                          {% endif%}
                      </div>
                  </div>
                  <!-- End of Form -->

                  <!-- End of Form -->
                  <div class="form-group">

                      <!-- Form -->
                      <div class="form-group mb-4">
                          {{ form.password.label }}
                          <div class="input-group">
                              <span class="input-group-text" id="basic-addon4"><span class="fas fa-unlock-alt"></span></span>
                              {% if form.password.errors %}
                              {{ form.password(class="form-control is-invalid") }}
                              {% for error in form.password.errors %}
                              <small class="text-danger">{{ error }}</small>
                              {% endfor %}
                              {% else %}
                              {{ form.password(class="form-control", placeholder="Enter your password") }}
                              {% endif%}
                          </div>
                      </div>
                      <!-- End of Form -->

                  </div>
                  <div class="mt-3">
                      {{ form.save(class="btn btn-dark") }}
                  </div>
              </form>
          </div>
      </div>
  </div>
{% endblock content %}

{% block javascripts %}
{% endblock javascripts %}